#Linkedin Profile Analysis

In [2]:
import os
import csv

# Point this to your 'Connections.csv' file.
CSV_FILE = os.path.join('resources', 'ch04-linkedin', 'Connections.csv')

csvReader = csv.DictReader(open("/content/Connections.csv"), delimiter=',', quotechar='"')
contacts = [row for row in csvReader]

###Simple normalization of company suffixes from address book data

In [3]:
from prettytable import PrettyTable # pip install prettytable
from collections import Counter
from operator import itemgetter

# Define a set of transforms that converts the first item
# to the second item. Here, we're simply handling some
# commonly known abbreviations, stripping off common suffixes, 
# etc.

transforms = [(', Inc.', ''), (', Inc', ''), (', LLC', ''), (', LLP', ''),
               (' LLC', ''), (' Inc.', ''), (' Inc', '')]

companies = [c['Company'].strip() for c in contacts if c['Company'].strip() != '']

for i, _ in enumerate(companies):
    for transform in transforms:
        companies[i] = companies[i].replace(*transform)

pt = PrettyTable(field_names=['Company', 'Freq'])
pt.align = 'l'
c = Counter(companies)

[pt.add_row([company, freq]) for (company, freq) in sorted(c.items(), key=itemgetter(1), reverse=True) if freq > 1]

print(pt)

+--------------------------------------------------+------+
| Company                                          | Freq |
+--------------------------------------------------+------+
| Infosys                                          | 68   |
| Wipro                                            | 4    |
| Cognizant                                        | 3    |
| MENMOZHI TECHNOLOGIES                            | 3    |
| Deloitte                                         | 3    |
| Accenture                                        | 3    |
| Bishop Heber College, Tiruchirappalli - 620 017. | 3    |
| Indian Institute of Technology, Madras           | 2    |
| Microsoft                                        | 2    |
| Tata Consultancy Services                        | 2    |
| BYJU'S                                           | 2    |
| The Sparks Foundation                            | 2    |
| Zoho Corporation                                 | 2    |
| Infosys Ltd                                      | 2    |
+--------------------------------------------------+------+

###Standardizing common job titles and computing their frequencies

In [4]:
transforms = [
    ('Sr.', 'Senior'),
    ('Sr', 'Senior'),
    ('Jr.', 'Junior'),
    ('Jr', 'Junior'),
    ('CEO', 'Chief Executive Officer'),
    ('COO', 'Chief Operating Officer'),
    ('CTO', 'Chief Technology Officer'),
    ('CFO', 'Chief Finance Officer'),
    ('VP', 'Vice President'),
    ]

# Read in a list of titles and split apart
# any combined titles like "President/CEO."
# Other variations could be handled as well, such
# as "President & CEO", "President and CEO", etc.

titles = []
for contact in contacts:
    titles.extend([t.strip() for t in contact['Position'].split('/')
                  if contact['Position'].strip() != ''])

# Replace common/known abbreviations

for i, _ in enumerate(titles):
    for transform in transforms:
        titles[i] = titles[i].replace(*transform)

# Print out a table of titles sorted by frequency

pt = PrettyTable(field_names=['Job Title', 'Freq'])
pt.align = 'l'
c = Counter(titles)
[pt.add_row([title, freq]) 
 for (title, freq) in sorted(c.items(), key=itemgetter(1), reverse=True) 
     if freq > 1]
print(pt)

# Print out a table of tokens sorted by frequency

tokens = []
for title in titles:
    tokens.extend([t.strip(',') for t in title.split()])
pt = PrettyTable(field_names=['Token', 'Freq'])
pt.align = 'l'
c = Counter(tokens)
[pt.add_row([token, freq]) 
 for (token, freq) in sorted(c.items(), key=itemgetter(1), reverse=True) 
     if freq > 1 and len(token) > 2]
print(pt)

+-------------------------------------+------+
| Job Title                           | Freq |
+-------------------------------------+------+
| System Engineer                     | 25   |
| Senior System Engineer              | 17   |
| Software Engineer                   | 5    |
| Systems Engineer                    | 5    |
| Data Scientist                      | 4    |
| Data Engineer                       | 3    |
| Technology Analyst                  | 3    |
| Operations Executive                | 3    |
| Software Developer                  | 2    |
| Senior Software Engineer            | 2    |
| Founder and Chief Executive Officer | 2    |
| Data Analyst                        | 2    |
| Analyst                             | 2    |
| Test Engineer                       | 2    |
| Associate Consultant                | 2    |
| Business Analyst                    | 2    |
| Application Development Analyst     | 2    |
| Senior Systems Engineer             | 2    |
| Guest Lecturer                      | 2    |
+-------------------------------------+------+
+--------------+------+
| Token        | Freq |
+--------------+------+
| Engineer     | 74   |
| System       | 43   |
| Senior       | 36   |
| Data         | 28   |
| Analyst      | 23   |
| Software     | 15   |
| Associate    | 12   |
| Executive    | 10   |
| Intern       | 9    |
| and          | 9    |
| Consultant   | 9    |
| Technology   | 9    |
| Development  | 9    |
| Scientist    | 8    |
| Science      | 8    |
| Business     | 8    |
| Manager      | 8    |
| Developer    | 7    |
| Systems      | 7    |
| Specialist   | 6    |
| Learning     | 6    |
| Operations   | 5    |
| Technical    | 5    |
| Founder      | 5    |
| Scholar      | 4    |
| Analytics    | 4    |
| Director     | 4    |
| Chief        | 4    |
| Officer      | 4    |
| Artificial   | 3    |
| Intelligence | 3    |
| Professor    | 3    |
| Operation    | 3    |
| Management   | 3    |
| Student      | 3    |
| Test         | 3    |
| Lead         | 3    |
| Advisor      | 2    |
| Research     | 2    |
| Digital      | 2    |
| Marketing    | 2    |
| Programmer   | 2    |
| Academic     | 2    |
| Assistant    | 2    |
| Talent       | 2    |
| Member       | 2    |
| Staff        | 2    |
| Vice         | 2    |
| President    | 2    |
| Principal    | 2    |
| Trainee      | 2    |
| Machine      | 2    |
| trainee      | 2    |
| Project      | 2    |
| Applications | 2    |
| Application  | 2    |
| Guest        | 2    |
| Lecturer     | 2    |
+--------------+------+

###Geocoding locations with Google Maps